/* linear-gradient(to bottom,
    #076470 0%,
    #d8d1d1 30%,
    #dab694 64%,
    #8f8787 100%)*/

:root {
  --primary-color: #076470;
  --secondary-color: #dab694;
  --tertiary-color: #8f8787;
  --accent-color: #012225;
  --highlight-color: #d8d1d1;
  --heading-font: "Tangerine", cursive;
}
body {
  font-family: "Urbanist", sans-serif;
}
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 72px;
}
h2 {
  font-size: 18px;
  color: var(--accent-color);
}
h3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
}
h4 {
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-color);
}
#monogram {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 32px;
}
.nav-link,
.navbar-brand,
.navbar-toggler-icon {
  color: var(--secondary-color) !important;
}
.active,
.nav-link:hover,
.navbar-brand:hover {
  color: var(--accent-color) !important;
}
.hero {
  background: linear-gradient(
    to bottom,
    var(--primary-color) 90%,
    var(--highlight-color) 90% 93%,
    var(--secondary-color) 93%
  );
  padding: 80px 80px 130px;
  width: 100%;
}
.btn-brand {
  background-color: var(--highlight-color);
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  color: var(--accent-color);
}
.btn-brand:hover {
  transition: 200ms ease-in;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
.btn-center {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.thumbnail {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.email-link {
  color: var(--tertiary-color);
  text-decoration: none;
}
.contact-panel {
  background-color: var(--tertiary-color);
  width: 100%;
}
@media (max-width: 760px) {
  h1,
  h2 {
    text-align: center;
  }
  .hero {
    padding: 40px 20px 60px;
  }
  .btn-brand {
    display: block;
    margin: 30px auto;
    width: 50%;
    font-size: 16px;
  }
  .btn-center {
    max-width: 80%;
  }
  .feature-projects {
    width: 80%;
  }
}
